body {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #52796f;
}

.card {
    display: flex;
    margin: 10px auto;
    width: 400px;
    justify-content: space-around;
    padding: 30px;
    border-bottom: 6px solid #354f52;
    background: #cad2c5;
    color: #2f3e46;
    transition: all 0.5s;
    border-radius: 24px;
}

.card:hover {
    background: #2f3e46;
    color: #cad2c5;
    transition: 0.5s;
    border-bottom: 6px solid #cad2c5;
}

.text-wrapper {
    margin: 10px;
    text-align: center;
    font-size: 13px;
}

.avatar {
    width: 150px;
    border-radius: 15px;
}